body {
    background-color: aqua;
    margin: 50px 150px 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__books {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;

    margin-top: 50px;
}

.block__book {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book__display {
    width: 120px;
    height: 150px;
    background-color: red;

    border-radius: 20px;
    padding: 20px;
}

.block__book-content{
    height: 100%;
    border: 2px solid white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number-book {
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}

.name-book {
    font-size: 20px;
    color: white;
}

.book__description {
    margin-bottom: 20px;
}

.block__discription {
    display: flex;
    gap: 10px;
}

button {
    width: 80px;
    margin-bottom: 15px;
}